---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16ffqrKvv4sqfP0N7c1VtQYK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16ffqrKvv4sqfP0N7c1VtQYK",
          "created": 1440979725,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_16ffqrKvv4sqfP0NnQIu7Dcs",
              "object": "charge",
              "created": 1440979725,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16ffqMKvv4sqfP0NU01rI9zj",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "6Adws3FTTGWHEppr",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6tQJcgdxE0Xm7y"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_6tQJcgdxE0Xm7y",
              "invoice": null,
              "description": "fail bitch",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16ffqrKvv4sqfP0NnQIu7Dcs/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6tSmhdYEEDMxmU",
          "api_version": "2015-06-15"
        }
  recorded_at: Mon, 31 Aug 2015 00:24:55 GMT
recorded_with: VCR 2.9.3
