---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=990&currency=usd&card=tok_16bMkSKvv4sqfP0NqDvuj4gW&description=Monthly%20Myflix%20Payment
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16bMkTKvv4sqfP0N55ZukxXt"
          }
        }
  recorded_at: Wed, 19 Aug 2015 02:56:47 GMT
recorded_with: VCR 2.9.3
