---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=990&currency=usd&card=tok_16bMkOKvv4sqfP0N3rHTUAiT&description=Monthly%20Myflix%20Payment
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16bMkPKvv4sqfP0NpuFXrcYS",
          "object": "charge",
          "created": 1439952977,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 990,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16bMkOKvv4sqfP0NXyTS5zad",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "WUS6lmDVZLbIK3fX",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16bMkPKvv4sqfP0NVV2QKDuw",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Monthly Myflix Payment",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16bMkPKvv4sqfP0NpuFXrcYS/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 19 Aug 2015 02:56:43 GMT
recorded_with: VCR 2.9.3
