---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16amUbKvv4sqfP0NhXZBD23D",
          "livemode": false,
          "created": 1439813613,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16amUbKvv4sqfP0NEW4OHwJp",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "E7kF800Rn7Ck1iVU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "1.125.48.213"
        }
  recorded_at: Mon, 17 Aug 2015 12:13:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=usd&card=tok_16amUbKvv4sqfP0NhXZBD23D
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16amUdKvv4sqfP0N2stEzDkK"
          }
        }
  recorded_at: Mon, 17 Aug 2015 12:13:58 GMT
recorded_with: VCR 2.9.3
