---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16fctEKvv4sqfP0NJJep2UK7",
          "livemode": false,
          "created": 1440968340,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16fctEKvv4sqfP0NK1icoXU1",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "WUS6lmDVZLbIK3fX",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "110.143.154.199"
        }
  recorded_at: Sun, 30 Aug 2015 20:59:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=javon%40kohler.biz&plan=base&card=tok_16fctEKvv4sqfP0NJJep2UK7
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1440968341,
          "id": "cus_6tPiivI6HgmMO6",
          "livemode": false,
          "description": null,
          "email": "javon@kohler.biz",
          "shipping": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6tPiivI6HgmMO6/subscriptions",
            "data": [
              {
                "id": "sub_6tPiSzopa8yrOU",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1440665409,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "MyFlix Int. Billing"
                },
                "object": "subscription",
                "start": 1440968341,
                "status": "active",
                "customer": "cus_6tPiivI6HgmMO6",
                "cancel_at_period_end": false,
                "current_period_start": 1440968341,
                "current_period_end": 1443646741,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6tPiivI6HgmMO6/sources",
            "data": [
              {
                "id": "card_16fctEKvv4sqfP0NK1icoXU1",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "WUS6lmDVZLbIK3fX",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6tPiivI6HgmMO6"
              }
            ]
          },
          "default_source": "card_16fctEKvv4sqfP0NK1icoXU1"
        }
  recorded_at: Sun, 30 Aug 2015 20:59:01 GMT
recorded_with: VCR 2.9.3
