---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16fbxpKvv4sqfP0NTRZc1sEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16fbxpKvv4sqfP0NTRZc1sEK",
          "created": 1440964781,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16fbxpKvv4sqfP0NOYz3zAF7",
              "object": "charge",
              "created": 1440964781,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16fbxoKvv4sqfP0NapZVOmQV",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "WUS6lmDVZLbIK3fX",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6tOlqdLKvcWzyN"
              },
              "captured": true,
              "balance_transaction": "txn_16fbxpKvv4sqfP0NYyZeVK8I",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6tOlqdLKvcWzyN",
              "invoice": "in_16fbxpKvv4sqfP0Nz03D1lVQ",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "MyFlix Int. Billing",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16fbxpKvv4sqfP0NOYz3zAF7/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6tOlxi1rUtkZxm",
          "api_version": "2015-06-15"
        }
  recorded_at: Sun, 30 Aug 2015 20:33:12 GMT
recorded_with: VCR 2.9.3
