---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16UoSoKvv4sqfP0NaFGp049H",
          "livemode": false,
          "created": 1438391222,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16UoSoKvv4sqfP0NoYeV7bso",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "WUS6lmDVZLbIK3fX",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "101.185.104.211"
        }
  recorded_at: Sat, 01 Aug 2015 01:07:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_16UoSoKvv4sqfP0NaFGp049H
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16UoSqKvv4sqfP0NNeUBwgDm",
          "object": "charge",
          "created": 1438391224,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 300,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16UoSoKvv4sqfP0NoYeV7bso",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "WUS6lmDVZLbIK3fX",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16UoSqKvv4sqfP0NiaQmK39K",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16UoSqKvv4sqfP0NNeUBwgDm/refunds",
            "data": []
          }
        }
  recorded_at: Sat, 01 Aug 2015 01:07:04 GMT
recorded_with: VCR 2.9.3
